{{ form_start(form, {'attr': {'class':'register-form edit-password-form'}}) }}

    {{ form_row(form.currentPassword) }}
    <div>
        {{ form_label(form.password.first) }}
        
        {{ form_widget(form.password.first) }}
        <div id="password-criteria">
            <span id="length" class="invalid">8 caractères</span>
            <span id="lowercase" class="invalid">Minuscule</span>
            <span id="uppercase" class="invalid">Majuscule</span>
            <span id="number" class="invalid">Chiffre</span>
            <span id="special" class="invalid">Caractère spécial</span>
        </div>
    </div>
    
    <div>
        {{ form_label(form.password.second) }}
        {{ form_widget(form.password.second) }}
    </div>

    <button type="button" class="btn-green inactive submit-btn" id="submit-btn">Modifier</button>

{{ form_end(form) }}