{{ form_start(registrationForm, {'attr': {'class':'register-form'}}) }}
    {% if errors is defined %}
        <div class="errors-container">
            {% for error in errors %}
                <div class="alert alert-danger">
                    {{ error.message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div>
        {{ form_label(registrationForm.email) }}
        {{ form_widget(registrationForm.email) }}
    </div>

    {% if not registrationForm.agreeTerms is defined %}
        <div>
            {{ form_label(registrationForm.currentPassword) }}
            {{ form_widget(registrationForm.currentPassword) }}
        </div>
        
    {% endif %}

    <div>
        {{ form_label(registrationForm.password.first) }}
        
        {{ form_widget(registrationForm.password.first) }}
        <div id="password-criteria">
            <span id="length" class="invalid">8 caractères</span>
            <span id="lowercase" class="invalid">Minuscule</span>
            <span id="uppercase" class="invalid">Majuscule</span>
            <span id="number" class="invalid">Chiffre</span>
            <span id="special" class="invalid">Caractère spécial</span>
        </div>
    </div>
    
    <div>
        {{ form_label(registrationForm.password.second) }}
        {{ form_widget(registrationForm.password.second) }}
    </div>
    
    

    {% if registrationForm.agreeTerms is defined %}
        <div class="cgu-section">
            <twig:ux:icon name="mingcute:checkbox-line" id="cgu-uncheck-icon" />
            <twig:ux:icon name="mingcute:checkbox-fill" id="cgu-check-icon" style="display:none;"/>
            <span>J'accepte les <a href="/cgu">conditions d'utilisations</a></span>
        </div>

        {{ form_widget(registrationForm.agreeTerms)  }}
        <button type="submit" formaction="/register" class="btn btn-green inactive" id="submit-btn">S'inscrire</button>
    {% else %}
        <button type="button" class="btn btn-green inactive submit-btn" id="submit-btn">Modifier</button>
    {% endif %}

    
    {# {{ form_errors(registrationForm) }} #}
{{ form_end(registrationForm) }}