{% set pageClass = 'publier-trajet' %}
{% extends 'base.html.twig' %}

{% block title %}EcoRide - Covoiturez l'esprit tranquille{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('datepicker') }}
    {{ encore_entry_script_tags('addTrajet') }}
    {{ encore_entry_script_tags('addVoiture') }}
    
    {% include 'google_autocomplete.html.twig' %}
    
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}




{% block body %}
    {% if not app.user.isAdult %}
        <h1 class="text-center">Encore un peu de patience 🚗</h1>
        <p class="text-center" style="font-size:18px">Oups, il semblerait que tu n'aie pas encore l'âge requis pour publier des trajets...</p>
    {% else %}
        <div id="trajet-details" class="flex-column gap-3" style="display: flex;">
            <h1>Ajouter un trajet</h1>

            {{ form_start(form, {attr: { class:'form-green-column', id:"add-trajet-form"}}) }}
                {{ form_row(form.lieuDepart) }}
                {{ form_row(form.lieuArrivee) }}
                
                <div class="row-inputs">
                    <div class="datepicker-div">
                        {{ form_label(form.dateDepart)}}
                        {{ form_widget(form.dateDepart, {
                            attr: {
                            max: ( "now"|date("Y-m-d")), 
                            autocomplete:'off' 
                            }
                        }) }}
                        {% include 'home/datepicker.html.twig' %}
                    </div>
                    
                    <div class="">
                        {{ form_widget(form.heureDepart ) }}
                        <label for="">Heure</label>
                        <div class="hour-picker">
                            <select id="hours">
                                <option value="" disabled selected hidden>hh</option>
                            </select> :
                            <select id="minutes">
                                <option value="" disabled selected hidden>mm</option>
                            </select>
                        </div>
                    </div>

                    <div class="prix-container">
                        {{ form_label(form.prixPersonne) }}
                        {{ form_widget(form.prixPersonne) }}
                        <span id="credit-label"></span>
                    </div>
                                    
                </div>

                <div class="voitures-div">
                    {{ form_widget(form.voiture) }}
                    {{ form_label(form.voiture) }}
                    {% include 'voiture/user_voiture_list.html.twig' %}
                </div>
                
            
                <button id="continue-btn" class="btn-green-black submit-btn inactive">Continuer</button>
            
            
            {{ form_end(form) }}

        </div>

        <div id='itineraires-choices' class=" flex-column gap-3" style="display:none";>
            <div id="itineraires-list">
            </div>
            <button id="confirm-itineraire-btn" class="btn-green-black inactive">Valider</button>
            <span class="back-btn" id="">Retour</span>
        </div>

        <div id='recapitulatif' class="recapitulatif" style="display:none";>
            <h3 class="date-depart">Départ le XXXXX</h3>
            <div class="lieu-time">
                <div class="depart">
                    <span style="text-align:right" class="lieu-depart fw-bold">lieu depart</span>
                    <span class="heure-depart">heure depart</span>
                </div>
                
                <div class="duree-distance">
                    <small class="duree">duree</small>
                    <div class="vertical-line-circles">
                        <div class="circle outline"></div>
                        <div class="dashed-line"></div>
                        <div class="circle"></div>
                    </div>
                    <small class="distance">distance</small>
                </div>
                <div class="arrivee">
                    <span class="lieu-arrivee fw-bold">lieu arrivee</span>
                    <span class="heure-arrivee">heure arrivee</span>
                </div>
            </div>


            <h4>Avec</h4>
            <div class="voiture">
                <span class="voiture-surnom fw-bold">nom voiture</span>
                <small class="voiture-marque">Marque</small>
                <small class="voiture-modele">Modele</small>
                <small class="voiture-is-electric">Modele</small>
                <span class="voiture-place">X places</span>
            </div>
            
            <h4>Pour</h4>

            <span class="credits-passager">X crédits / passager</span>

            <button id="validate-btn" form="add-trajet-form" type="submit" class="btn-green-black">Confirmer</button>
            <span class="back-btn" id="">Retour</span>
        </div>
    {% endif %}


{% endblock %}
