<div>
    <div class="title-section">
        <div>
            <span>Retour</span>
            {# icone #}
        </div>

        <h1>Ajouter un véhicule</h1>

        
    </div>

    {{ form_start(form, {attr: { class:'form-green-column'}}) }}
        {{ form_row(form.immatriculation) }}
        {{ form_row(form.date_premier_immatriculation) }}
        {{ form_row(form.marque) }}
        {{ form_row(form.modele) }}
        {{ form_row(form.couleur) }}
        {{ form_row(form.isElectric) }}
        {# nb place
        surnom
        description #}
    {{ form_end(form) }}


</div>